@charset "UTF-8";

@import url(common.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.tit {
	text-align: center;
	font: sans-serif;
	font-size: 25pt;
}

header p {
	text-align: center;
	font-size: 8pt;
	margin-top: 50px;
	margin-bottom: 30px;
	font: sans-serif;
}

.aside {
	width: 100%;
}

.aside table {
	margin: 0 auto; /* 가운데 정렬 */
}

table tr {
	background: aliceblue;
}